version: "3.8"
services:
  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data
  redis_insight:
    image: redislabs/redisinsight:latest
    container_name: redis_insight
    restart: always
    ports:
      - 8001:5540
    volumes:
      - redis_insight_data:/db
volumes:
  redis_data:
  redis_insight_data: